body{
	background-image:url("../Images/sports02.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
				
ul {
	font-size:20px;
}

/* Footer */
.footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background: #242424;
	padding: 70px;
	font-weight: 400;
	font-size: 14px;
	}
	
.footer span{
	color: #fff;
}

/* Social Media linking CSS */	
.social {
	float: right;
	color: #fff;
}
	
.social a {
	width:25px;
	text-align: center;
	margin: 0px 23px;
	filter: drop-shadow(0px 4px 4px #00000040);
}
	
.social img {
	width: 25px;
}

/* Developer Page button */	
#main_button {
	padding: 1%;
	width: fit-content;
	margin-top: 2%;
	background: gold;

}


/* Hyperlink CSS */	
#link {
	text-decoration: none;
}	
a {
	color: black;
}		
